<div class="container">
  <hr>
  <footer class='p3' style="background-color: 	#e3f2fd; padding-top: 5px;  padding-left: 10px; padding-right: 10px; padding-bottom: 5px;">
      <p style="text-align: center; font-size: 20px;">Contact</p><hr>
      <div class="container text-center">
            <div class="w-100">應用英語系 黃綵緣</div>
            <!-- Force next columns to break to new line -->
            <div class="w-100"></div>
            C108133218@nkust.edu.tw</div>
          </div>
  </footer>
</div>